vpc_name="vpc01"
aws_region="us-east-1"
domain="aws.lab.local"
vpc_cidr="10.0.0.0/16"
vpn_cidr="192.168.0.0/16"
subnets_private_network=["10.0.3.0/24","10.0.4.0/24"]
subnets_private_name=["pri-10.0.3.0-24","pri-10.0.4.0-24"]
subnets_public_network=["10.0.1.0/24","10.0.2.0/24"]
subnets_public_name=["pub-10.0.1.0-24","pub-10.0.2.0-24"]
subnets_vpn_network=["10.0.0.0/24"]
subnets_vpn_name=["vpn-10.0.0.0-24"]
azs=["us-east-1a","us-east-1b"]
myip=[""]
labip=[""]
bgpasn=""
bgpipaddress=""
aws_access_key=""
aws_secret_key=""

